{% extends "base.html.twig" %}

{% block body %}
	<h1>formulaire catégorie</h1>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" href="{{path("show_product")}}">Tous les Produits</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('product_form')}}">Nouveau produit</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{path('category')}}">Catégorie</a>
			</li>
		</ul>

	</nav>
	<div class="row">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				<p>{{message}}</p>
			</div>
		{% endfor %}
		<div class="col-md-8">
			<table class="table table-success table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom</th>
						<th>Nombre de produit</th>
						<th scope='col'>#</th>

					</tr>
				</thead>
				<tbody>
					{% for category in categorys %}
						<tr>
							<td scope="row">{{category.id}}</td>
							<td>{{category.name}}</td>
							{% set td = "0" %}
							{% for count in counts %}

								{% if count.category_id == category.id %}

									{% set td = count.count %}</td>


							{% endif %}

						{% endfor %}
						<td>{{td}}</td>
					
				
			


			<td>

				<a class="btn btn-danger" data-bs-toggle="modal" href="#exampleModalToggle{{category.id}}" role="button">Supprimer</a>
			</td>

		</tr>
		<div class="modal fade " id="exampleModalToggle{{category.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p class='text-primary'>Cliquer sur Confirmer pour supprimer la categorie
							<span class='text-warning'>{{category.name}}</span>

						</p>
					</div>
					<div class="modal-footer">
						<a class='btn btn-danger' href="{{path("delete_category",{id:category.id})}}">Confirmer</a>

					</div>

				</div>
			</div>
		</div>
	{% endfor %}
</tbody></table></div><div class="col-md-4">{{ form_start(form) }}<div class="row">
<div class="col-md-5">
	{{ form_row(form.name) }}
	<input type="submit" class='btn btn-primary' value="Ajouter">
</div></div>{{ form_end(form) }}</div></div>{% endblock %}
